.wrapper {
  position: relative;
  display: flex;
  gap: 50px;
  padding: 60px 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.img {
  max-width: 300px;
}
.genres_list {
  display: flex;
  gap: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.goback {
  text-align: center;
  position: absolute;
  padding: 5px 15px;
  top: 10px;
  left: 0;
  font-size: larger;
  font-weight: 600;
  background-color: transparent;
  text-decoration: none;
  color: white;
  textshadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out;
  &:hover {
    color: gold;
  }
}
.btn_list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn_link {
  font-weight: 700;
  text-decoration: none;

  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid goldenrod;
  border-radius: 10px;
  color: whitesmoke;
  transition: border-color 0.3s ease, color 0.3s ease,
    background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: gold;
    box-shadow: 0px 0px 10px 0px gold;
    background-color: rgba(24, 0, 56, 0.932);
    border: 2px solid gold;
  }
}
